<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--参数的变量引用支持ejs格式数据-->
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!--类似于模板引擎-->
    <%= htmlWebpackPlugin.options.date%>
    <% for (var key in htmlWebpackPlugin.files){%>
        <%=key %>:<%=JSON.stringify(htmlWebpackPlugin.files[key]) %>
    <%}%>
     <% for (var key in htmlWebpackPlugin.options){%>
        <%=key %>:<%=JSON.stringify(htmlWebpackPlugin.options[key]) %>
    <%}%>
</body>
<!--引用js文件-->
<script src="./dist/bundle.js"></script>
</html>